<style>
    .fb-like {
        float: left;
        height: 25px;
        overflow: hidden;
        width: 55px;
    }
</style>




<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-3"><h1>Electionia</h1></div>
  <div class="col-lg-9 col-md-9 col-sm-9" style="text-align: right" id="menu">
    <a href="#" onclick="$('.well').hide();$('#home').fadeIn();$('.fb-share-divs').hide();"><h2>Home</h2></a>
    <a href="#" onclick="$('.well').hide();$('#instructions').fadeIn();$('.fb-share-divs').hide();"><h2>Instructions</h2></a>
    <% if user_signed_in? %>
        <a href="#" onclick="$('.well').hide();$('#candidateCanvas').fadeIn();$('.fb-share-divs').hide();"><h2>Vote Today</h2></a>
        <a href="#" onclick="$('.well').hide();$('#results').fadeIn();$('.fb-share-divs').hide();$('#share_result').fadeIn();"><h2>Results</h2></a>
    <% end %>


    <a href="#" onclick="$('.well').hide();$('#leaderboard').fadeIn();$('.fb-share-divs').hide();$('#share_leaderboard').fadeIn(); $('#weekly_leaderboard_table_filter').hide(); "><h2>Leaderboard</h2></a>
    <a href="#" onclick="$('.well').hide();$('#prizes').fadeIn();$('.fb-share-divs').hide();"><h2>Prizes</h2></a>
    <% if user_signed_in? %>
        <a href="/sign_out"><h2>Logout</h2></a>
    <% end  %>
  </div>
</div>
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <img src="/assets/logo.jpg" alt="Electionia - Every Vote Counts" class="img-responsive"/>

    </div>
  </div>
  <% if user_signed_in? %>
  <a href="#" class="btn btn-danger btn-bank" style="cursor: default;">

        <span class="glyphicon glyphicon-briefcase" style="cursor: default;"></span>
        Bank: R.<span id="bank" style="cursor: default;"><%= current_user.bank rescue 1000 %></span>

  </a>


  <div id="profileBox">
    <div class="col-lg-4 col-md-4 col-sm-4" style="padding-right: 0;vertical-align: middle">

    </div>
    <div class="col-lg-8 col-md-8 col-sm-8" style="padding-left: 0.3em;">
      <h2 style="margin-top: -0.3em;padding: 0">

      </h2>
    </div>
  </div>
  <% end %>
  <%#= link_to "Logout", destroy_facebook_session_path, class: "btn btn-grayscale logout" %>

<% if user_signed_in? %>
      <div id="invite_fb_friends" onclick="FacebookInviteFriends();" style="cursor: pointer; margin-top: 2%;">
        <img src="/assets/fbinvite.png" style="height: 100%; width: 100%;">
      </div>
<% else %>
      <h2 style="text-align: right">Because matters of politics are rarely black and white...</h2>
<% end %>

  <h1 style="text-align: center; margin-bottom: 0.3em"><%= Date.today.strftime("%d %b") %></h1>

</div>

<div class="col-lg-9 col-md-9 col-sm-9">
<div class="row" id="contentPanel123">
<div class="hashback well" id="home">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">

      <p style="text-align: justify;width:90%;">Play the game over the next 70 days and win prizes every week.
        Further, the top 5 scorers at the
        end will receive a grand prize
        from our sponsors.</p>

      <h2><strong>Remember, Every <%= image_tag "voted.png", class: "img-responsive" %>
        <span class="pull-right">Counts!</span></strong></h2>
      <br/>
      <!--<br/>-->
    </div>


    <% if user_signed_in? %>
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div id="sponsorList">
        <!--<h3>Prize Sponsors</h3>-->

        <div class="row" style="padding: 0;margin:0">
          <% @sponsors.each do |s| %>
              <div class="col-lg-12 col-md-12 col-sm-12" style="padding: 0.3em;margin:0">
                <%= image_tag s.avatar.url(:original), class: "sponsorImg img-responsive" %>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>

  <% if user_signed_in? %>
      <%= link_to "Check yesterday's results", "#", class: "btn btn-inverse btn-large btn-big", onclick: "$('.well').hide();$('#results').fadeIn();" %>
  <% else %>
      <% resource_class.omniauth_providers.each do |provider| %>
          <%#= link_to "Check yesterday's results", request.env['facebook.params']? canvas_login_path : omniauth_authorize_path(resource_name, provider), class: "btn btn-inverse btn-large btn-big", onclick: "login();" ,id: "result_btn"  %>
          <%= link_to "Check yesterday's results", "/set_session_var/result", class: "btn btn-inverse btn-large btn-big", onclick: "" ,id: "result_btn"  %>
      <% end %>
<% end %>

  <% if user_signed_in? %>
      <%= link_to "Where do I stand", "#", class: "btn btn-inverse btn-large btn-big", onclick: "$('.well').hide();$('#leaderboard').fadeIn();$('#share_leaderboard').fadeIn();" %>
    <% else %>
      <% resource_class.omniauth_providers.each do |provider| %>
          <%#= link_to "Where do I stand", request.env['facebook.params']? canvas_login_path : omniauth_authorize_path(resource_name, provider), class: "btn btn-inverse btn-large btn-big", onclick: "login();" ,id:"leader_btn"  %>
          <%= link_to "Where do I stand", "/set_session_var/leaderboard", class: "btn btn-inverse btn-large btn-big", onclick: "" ,id:"leader_btn"  %>
      <% end %>
  <% end %>




  <%= link_to "What will I win", "#", class: "btn btn-inverse btn-large btn-big", onclick: "$('.well').hide();$('#prizes').fadeIn();" %>
  <br/>
  <% if user_signed_in? %>
      <%= link_to "Vote in the election today", "#", class: "btn btn-success btn-large btn-big", onclick: "$('.well').hide();$('#candidateCanvas').fadeIn();", id: "homeGame" %>
  <% else %>
      <% resource_class.omniauth_providers.each do |provider| %>
      <%#= link_to "Vote in the election today", request.env['facebook.params']? canvas_login_path : omniauth_authorize_path(resource_name, provider), class: "btn btn-success btn-large btn-big", onclick: "login();", id: "fbsignin" %>
      <%= link_to "Vote in the election today", "/set_session_var/vote_today", class: "btn btn-success btn-large btn-big", onclick: "", id: "fbsignin" %>
      <% end %>
  <% end %>

</div>
<div class="hashback well" id="instructions">
  <h2>Instructions</h2>
  <h4>
    <ul>
      <li>You start with initial money of R.1000.</li>
      <br/>
      <li>Every day, you get to see the profile of 3 political candidates.</li>
      <li>Choose a candidate you like and cast your vote on them.</li>
      <li>Buy anti-campaigns against the other candidates to run down their credibility.</li>
      <br/>
      <li>In the land of Electionia, there is an election every day around 11am IST.</li>
      <li>After the election, all players' votes are counted</li>
      <li>An equal number of votes are simulated based on the anticampaigns and counted.</li>
      <li>The candidate with the highest number of total votes is the winner for the day</li>
      <br/>
      <li>You receive R.1000 every day that you cast your vote. Remember, it pays to vote!</li>
      <li>If your chosen candidate wins on a day, you receive an additional R.1000.</li>
      <li>If a target of your anti-campaign loses you receive the payoff.</li>
      <li>The total number of points you accumulate decides your place on the Leaderboard.</li>
    </ul>
  </h4>
  <br/>

</div>
<% @yesterday=Game.find_by_game_date(Date.today-1) %>
<% if !@yesterday.nil? %>
    <div class="well" id="yesterday" style="display: none;">

      <% game= @yesterday %>
      <div class="item" id="result<%= game.id %>">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6">
            <h2 style="margin-bottom: 0">Yesterday's Results</h2>
            <% if user_signed_in? %>
                <% vote=Vote.where(game_id: game.id, user_id: current_user.id, submitted: true).first %>
            <% else %>

            <% end %>

          </div>
          <div class="col-lg-6 col-md-6 col-md-6">
            <a href="#" onclick="$('.well').hide();$('#home').fadeIn();" class="btn btn-inverse" style="float: right">Close</a>
          </div>
        </div>
        <br/>
        <% game.candidates.each_with_index do |c, index| %>
            <div class="row" style="margin-bottom: 0.2em">
              <div class="col-lg-2 col-md-2 col-sm-2" style="position: relative">
                <%= image_tag c.politician.avatar.url, class: "img-responsive resultCandidateImg" %>
                <% if c.winner %>
                    <%= image_tag "winner.png", style: "position:absolute;top:1.8em;width:80%;", class: "img-responsive" %>
                <% end %>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
                <h4 style="margin: 0;padding:0"><%= c.politician.name %>
                  <% unless vote.blank? %>
                      <span style="color:green">(<%= c.vote_count %> votes)</span>
                  <% end %>
                </h4>

                <div class="candidateResultDetails">
                  <%= c.politician.description %>
                  <br/>

                  <div style="font-style: italic;margin-top: 0.3em; color:green">"<%= c.comment %>."</div>
                </div>
              </div>
              <div class="col-lg-5 col-md-5 col-sm-5">
               <% if user_signed_in? %>
                <% unless vote.blank? %>
                    <table class="table table-condensed table-striped table-bordered payoffTable">
                      <% if vote.candidate_id==c.id %>
                          <tr>
                            <th>Winner</th>
                            <th>You made</th>
                          </tr>
                          <tr>
                            <td><%= (c.id==game.winner_id) ? "Got my choice" : "Not my choice" %></td>
                            <td><%= (c.id==game.winner_id) ? 2000 : 1000 %></td>
                          </tr>
                      <% else %>
                          <tr>
                            <th>Campaign</th>
                            <th>You paid</th>
                            <th>You made</th>
                          </tr>
                          <% Anticampaign.where(game_id: game.id, user_id: current_user.id, candidate_id: c.id).each do |a| %>
                              <tr>
                                <td><%= a.campaign.name %></td>
                                <td><%= a.campaign.bet %></td>
                                <td><%= (c.id==game.winner_id) ? 0 : a.campaign.payoff %></td>
                              </tr>
                          <% end %>
                      <% end %>
                    </table>
                <% end %>
               <% end %>
              </div>
            </div>
        <% end %>
      </div>
      <br/>


    </div>
<% end %>
<div class="grayRayed well" id="candidateCanvas">
  <div class="row">
    <%= hidden_field_tag "voteStatus", false %>

    <% if user_signed_in? %>
    <% @candidates.each do |c| %>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <div class="candidate">
            <%= image_tag c.politician.avatar.url, class: "img-responsive" %>
            <div class="screen">
              <ul class="candidateDetails">
                <li><h4 class="candidateQuality"><%= c.politician.description %></h4></li>
                <li><h4 class="candidateStatement"><%= c.comment %></h4>
                </li>
              </ul>
            </div>
          </div>
          <h4 class="candidateName" id="candidateNo<%= c.id %>"><%= c.politician.name %></h4>
          <%= link_to_function raw("Vote for me"), "cast_vote(#{c.id},'a')", class: "btn btn-success voteBtn votable" %>

          <div class="cardSlot col-lg-6 col-md-6 col-sm-6" id="slot<%= c.id %>a">
            <a href="#" class="btn btn-danger buy">Run Anti- <br/>Campaign</a>

            <div class="slottedCampaign"></div>
          </div>
          <div class="cardSlot col-lg-6 col-md-6 col-sm-6" id="slot<%= c.id %>b">
            <a href="#" class="btn btn-danger buy ">Run Anti- <br/>Campaign</a>

            <div class="slottedCampaign"></div>
          </div>
        </div>
    <% end %>
      <% end %>

  </div>
  <%= link_to "Cast your Vote to Submit", "#", class: "btn btn-inverse btn-submit disabled", onclick: "submitAll()" %>
  <%= link_to "Redo your Plan", "#", class: "btn btn-inverse btn-reEdit", onclick: "reEdit()" %>
</div>
<div class="well" id="shop">
  <%= hidden_field_tag "attacked" %>
  <%= hidden_field_tag "selectedSlot" %>
  <h2>Run a Campaign against
    <span id="attackedName"></span> <%= link_to "Cancel", "#", id: "shopCancel", class: "btn btn-inverse pull-right" %>
  </h2>

  <div id="shopShelf" class="owl-carousel owl-theme">
   <% if user_signed_in? %>
    <% @campaigns.each do |c| %>
        <div class="item" id="campaign<%= c.id %>">
          <h4><%= c.name %></h4>
          <%= image_tag c.avatar.url(:original), class: "img-responsive" %>
          <%= link_to_function "Campaign for R.#{c.bet}", "buy_campaign('false',#{c.id})", class: "btn btn-danger" %>
          <h5 style="display: inline-block"><strong>R.<%= c.payoff %></strong> if the candidate loses</h5>

          <div class="rollover">
            <div class="cost">Cost: R.<%= c.bet %></div>
            <a href="#" class="cancelSlot btn btn-danger">Refund</a>
          </div>
        </div>
    <% end %>
   <% end %>
  </div>

  <div class="customNavigation">
    <a class="btn btn-inverse prev ">Previous</a>
    <a class="btn btn-inverse next">Next</a>
  </div>

</div>
<div class="well" id="results">
  <div id="resultsBrowser" class="owl-carousel owl-theme">
    <% @finished_games=Game.where('game_date < ?', Date.today).order(game_date: :asc)  %>
    <% @finished_games.each do |game| %>
        <div class="item" id="result<%= game.id %>">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <h2 style="margin-bottom: 0">Election Date: <%= game.game_date.strftime("%d %b") %></h2>
    <% if user_signed_in?  %>
              <% vote=Vote.where(game_id: game.id, user_id: current_user.id, submitted: true).first %>

              <h3 style="margin-top: 0">
                <% if vote.blank? %>
                    You did not vote on this date.
                <% else %>
                    You voted for <%= vote.candidate.politician.name %>
                <% end %>
              </h3>
    <% end %>
            </div>
          </div>
          <br/>
          <% game.candidates.each_with_index do |c, index| %>
              <div class="row" style="margin-bottom: 0.2em">
                <div class="col-lg-2 col-md-2 col-sm-2" style="position: relative">
                  <%= image_tag c.politician.avatar.url, class: "img-responsive resultCandidateImg" %>
                  <% if c.winner %>
                      <%= image_tag "winner.png", style: "position:absolute;top:1.8em;width:80%;", class: "img-responsive" %>
                  <% end %>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <h4 style="margin: 0;padding:0"><%= c.politician.name %>
                    <% unless vote.blank? %>
                        <span style="color:green">(<%= c.vote_count %> votes)</span>
                    <% end %>
                  </h4>

                  <div class="candidateResultDetails">
                    <%= c.politician.description %>
                    <br/>

                    <div style="font-style: italic;margin-top: 0.3em; color:green">"<%= c.comment %>."</div>
                  </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5">
                  <% unless vote.blank? %>
                      <table class="table table-condensed table-striped table-bordered payoffTable">
                        <% if vote.candidate_id==c.id %>
                            <tr>
                              <th>Winner</th>
                              <th>You made</th>
                            </tr>
                            <tr>
                              <td><%= (c.id==game.winner_id) ? "Got my choice" : "Not my choice" %></td>
                              <td><%= (c.id==game.winner_id) ? 2000 : 1000 %></td>
                            </tr>
                        <% else %>
                            <tr>
                              <th>Campaign</th>
                              <th>You paid</th>
                              <th>You made</th>
                            </tr>
                            <% Anticampaign.where(game_id: game.id, user_id: current_user.id, candidate_id: c.id).each do |a| %>
                                <tr>
                                  <td><%= a.campaign.name %></td>
                                  <td><%= a.campaign.bet %></td>
                                  <td><%= (c.id==game.winner_id) ? 0 : a.campaign.payoff %></td>
                                </tr>
                            <% end %>
                        <% end %>
                      </table>
                  <% end %>
                </div>
              </div>
          <% end %>
          <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-lg-offset-8 col-md-offset-8">
              <!--<input type="hidden" class="game_date" value="<%#= game.game_date %>"/>-->
              <% if user_signed_in? %>
                  <div class="fb-share-div" onclick='share_result("<%= current_user.name %>", "<%= current_user.bank %>","<%= game.game_date %>");' style="float:right; height: 25px; width: 10%; cursor: pointer;">
                    <img src="/assets/fbshare.png" style="height: 100%;">
                  </div>
              <% end %>

            </div>
          </div>
        </div>
    <% end %>
  </div>
  <br/>

  <div class="customNavigation">
    <a class="btn btn-inverse prevResult ">Previous</a>
    <a class="btn btn-inverse nextResult">Next</a>
  </div>
</div>
<div class="well" id="leaderboard">
  <div id="leaderboard_tab">
    <a href="#" onclick="show_daily_leaderboard_table();"><h2>Campaign</h2></a>
    <a href="#" onclick="show_weekly_leaderboard_table();"><h2>Weekly</h2></a>
  </div>
  <br>
  <table class="table table-striped table-bordered table-condensed datatable leaderboard-table" id="daily_leaderboard_table">
    <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Bank</th>
    </tr>
    </thead>
    <tbody>
    <% User.all.order(bank: :desc).limit(5).each_with_index do |u, index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= u.name %></td>
          <td><%= u.bank %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <table class="table table-striped table-bordered table-condensed datatable leaderboard-table" id="weekly_leaderboard_table" style="display: none;">
    <thead>
    <tr>
      <th>Rank</th>
      <th>User</th>
      <th>Bank</th>
    </tr>
    </thead>
    <% if WeeklyLeader.all.count > 0 %>
        <tbody>
        <% WeeklyLeader.all.order(score: :desc).limit(5).each_with_index do |u, index| %>
            <tr>
              <td><%= index+1 %></td>
              <td><%= User.find(u.user_id).name %></td>
              <td><%= u.score %></td>
            </tr>
        <% end %>
        </tbody>
    <% end %>
  </table>
  <br>

 <% if user_signed_in? %>
  <table class="table table-striped table-bordered table-condensed">
    <tbody>
    <tr>
      <td style="width: 26%;"><%= (User.all.order(bank: :desc).index { |item| item.name == current_user.name }) %></td>
      <td style="width: 48.5%;"><%= current_user.name %></td>
      <td><%= current_user.bank %></td>
    </tr>
    </tbody>
  </table>
 <% end %>

</div>
<div class="well" id="prizes">
  <h2>Weekly Prize for this week:</h2>
  Rs. 1000 vouchers from Flipkart
  <h2>Grand Prize</h2>
  Wait for it... we are building it up. Trust us... it is going to be spectacular.
</div>

<% if user_signed_in? %>
    <div class="fb-share-divs" id="share_leaderboard" onclick='share_score("<%#= (User.all.order(bank: :desc).index{ |item| item.name == current_user.name }+1)%>", "<%#= current_user.bank %>");' style="display:none; float:right; height: 25px; width: 10%; cursor: pointer;">
      <img src="/assets/fbshare.png" style="height: 100%;">
    </div>
<% end %>

<!--<div class="fb-share-divs" id="share_result" onclick='share_result("<%#= current_user.name %>", "<%#= current_user.bank %>");' style="display:none; float:right; height: 25px; width: 10%; cursor: pointer;">-->
<!--<img src="/assets/fbshare.png" style="height: 100%;">-->
<!--</div>-->

</div>
</div>
</div>

<div class="row">
  <div class="col-lg-offset-10 col-lg-2 col-md-2 col-sm-2" style="margin-left: 86.5%;">
    <div class="fb-like" data-href="http://www.electionia.com/users/sign_in" data-layout="button" data-action="like" data-show-faces="true" data-share="false"></div>
    <div class="fb-share-button" data-href="http://www.electionia.com/users/sign_in" data-type="button"></div>
  </div>
</div>

<div class="footer">
  <a href="//ptotem.com" target="_blank" style="color: #666666">A Ptotem &copy; Games Creation</a>
  <br/>
  <small>Mail us at info@ptotem.com to get a copy of the Electionia Card Game</small>
</div>

<!--<a href='https://www.facebook.com/dialog/apprequests?app_id=222280634572524&message=Facebook%20Dialogs%20are%20so%20easy!&redirect_uri=http://localhost:3000'> <small>Invite Facebook Friends</small></a>-->

<script>
    //console.clear();
    //console.log("gon.voted_yesterday :- " + gon.voted_yesterday);
    //console.log("gon.display_modal :- " + gon.display_modal);
    //gon.voted_yesterday=="true";
    setTimeout(function(){
        $('.alert').empty().remove();
    },10000);

    if( (gon.voted_yesterday=="true") ){
        if (gon.display_modal==true){
            $('.well').hide();
            $('#yesterday').fadeIn();

            $('.fb-share-divs').hide();
            $('#share_result').fadeIn();

           // var current_user_id = <%#=current_user.id %>
//            var data = {current_user_id: []};
//            data["current_user_id"].push(current_user_id);

//            $.ajax({
//                url: "/control_new_deck_modal",
//                type: "post",
//                async: false,
//                data: JSON.stringify(data),
//                contentType: "application/json",
//                success: function (data) {
//
//                }
//            });
        }
        else
        {
            $('.well').hide();
            $('#yesterday').hide();
            $('#home').fadeIn();

            $('.fb-share-divs').hide();
            //$('#share_result').fadeIn();
        }
    }
    else{
        $('.well').hide();
        $('#yesterday').hide();
        $('#home').fadeIn();

        $('.fb-share-divs').hide();
        //$('#share_result').fadeIn();
    }

</script>
