<br/>
<br/>
<div class="row aaa">
  <div class="col-lg-3 col-md-3 col-sm-3">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <img src="/assets/logo.jpg" alt="Electionia - Every Vote Counts" class="img-responsive"/>
      </div>
    </div>
    <h2 style="text-align: right">Because matters of politics are rarely black and white...</h2>
  </div>
  <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="row">
      <div class="jumbotron">
        <h1>Electionia</h1>

        <p>Vote for the candidate of your choice and campaign against
          their opponents in this game of electoral machinations.</p>

        <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to raw("Sign in with #{provider.to_s.titleize}"), omniauth_authorize_path(resource_name, provider), class: "btn btn-inverse btn-large", id: "fbsignin" %>
            <br/>
        <% end -%>
        <br/>
      </div>

    </div>
  </div>
</div>
<div class="row bbb" style="display: none;">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <fieldset>
        <label>
						<span class="block input-icon input-icon-right">
                        <%= f.email_field :email, :autofocus => true, class: "span12", placeholder: "Username" %>
                          <i class="icon-user"></i>
                        </span>
        </label>
        <label>
						<span class="block input-icon input-icon-right">
                            <%= f.password_field :password, class: "span12", placeholder: "Password" %>
                          <i class="icon-lock"></i>
						</span>
        </label>

        <div class="space"></div>
        <div class="row-fluid">
          <% if devise_mapping.rememberable? -%>
              <label class="span8">
                <%= f.check_box :remember_me %><span class="lbl"> Remember Me</span>
              </label>
          <% end -%>
          <%= f.submit "Sign in", class: "span4 btn btn-primary" do %>
          <% end %>
        </div>
      </fieldset>
  <% end %>
</div>
<hr/>
<div class="footer">
  A Ptotem &copy; Games Creation
  <br/>
  <small>Mail us at info@ptotem.com to get a copy of the Electionia Card Game</small>
</div>
<script type="text/javascript" charset="utf-8">
    var m1 = 0;
    function magic(){
        if(m1==0){
            $('.aaa').hide();
            $('.bbb').show();
            m1=1;
        }else{
            $('.bbb').hide();
            $('.aaa').show();
            m1=0;
        }
    }
</script>
